.sideItemWrapper {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background 200ms ease-in-out;
    padding: 1px 0;
}

.sideItemWrapper:hover {
    background: rgb(226, 226, 226);
}

.featuredItemWrapper:hover {
    background: rgb(226, 226, 226);
}

.sideItemHeader {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: .75px;
    margin-left: 8px;
}

.sideItemWrapper svg {
    margin-left: 0.5rem;
    width: 22px;
    height: 22px;
}

.featuredItemWrapper {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background 200ms ease-in-out;
    margin-bottom: 1rem;
    padding: 0.25rem;
}

.featuredItemHeader {
    font-size: 16px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 18px;
}

.featuredItemSubheader {
    font-family: 'Oswald', sans-serif;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.5px;
}

.sideItemSubheader {

}

.featuredItemTitle {
    display: flex;
    flex-direction: column;
}

.profileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.selected {
    color: #2ba0ff;
    
}

/*.selected:hover {
    background: transparent !important;
}*/
