.sideBarContainer {
    display: none;
}

@media (max-width: 1050px) {
    .selected {
        fill: #2ba0ff;
    }

    .sideBarContainer {
        display: flex;
        width: 75px;
        /* border-right: 1px solid rgba(22, 24, 35, .12); */
        position: fixed;
        bottom: 0;
        left: 0;
        top: 60px;
    }

    .sideBarWrapper {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 6px;
        border-right: 1px solid rgba(22, 24, 35, .12);
        top: 0;
    }

    .sideBarControlsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;    
    }

    .sideBarItem {
        padding: 22px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 24px;
        height: 24px;
    }

    .sideBarItem svg {
        width: 26px;
        height: 26px;
    }

    .separator {
        display: flex;
        margin: 0.5rem 0;
        height: 1px;
        transform: scaleY(0.5);
        background: rgba(22, 24, 35, 0.12);
    }

    .featuredAccountList {
        margin: 0;
        padding: 0;
    }

    .featuredAccountItem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 8px;
    }

    .account>img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
    }
}