.trendTag {
    text-decoration: none;
}

.trendContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 1rem;
    padding: 4px 10px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 12px;
    background: rgb(255, 255, 255);
    transition: all 200ms ease 0s;
    margin-right: 8px;
}

.trendIcon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.trendIcon > svg {
    height: 12px;
    width: 12px;
}

.trendContainer:hover {
    background: rgb(229, 229, 229);
}

.trendContainer:active {
    background: rgb(209, 209, 209);
}

.trendTitle {
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin: 0;
    line-height: 25px;
}