.postContainer {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.postLeftWrapper {
  flex: 1 0 600px;
  max-width: 100%;
  background: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 0px 80px;
}

.postVideoWrapper {
    object-fit: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.07);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postVideo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postRightWrapper {
    flex: 0 0 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0px 0px;
    background-color: #fff;
}

.postProfileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    padding: 2rem;
}

.postUserWrapper {
    cursor: pointer;
    display: flex;
}

.avatar > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileMeta {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.profileUsername {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 12px;
    display: inline-block;
    margin: 4px 4px 12px 0;
    letter-spacing: .70px;
}

.nameMeta {
    display: flex;
    align-items: center;
    line-height: 14px;
}

.nameMeta > span {
    display: flex;
    align-items: center;
    margin: 0 6px;
    height: 100%;
}

.nameMeta > h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

.profileName {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .5px;
}


.followBtnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.postFollowBtn {
    display: flex;
    color: #2ba0ff;
    background-color: transparent;
    border: 1px solid #2ba0ff;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 18px;
    height: 28px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 8px;
    transition: background-color 200ms ease-in-out;
}

.postFollowBtn:hover {
    background-color: #2ba0ff21;
}

.exitBtn {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.3s ease 0s;
}

.exitBtn:hover {
    opacity: 0.75;
}

.exitBtn > svg {
    fill: #fff;
    width: 16px;
    height: 16px;
}